.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.header {
  position: relative;
  z-index: 10000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.5em;
}

.header h1 {
  width: 100%;
}

.header__title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #435965;
}

.header__right {
  float: right;
  color: #ffffff;
}

@media screen and (max-width: 43.25em) {
  .header {
    font-size: 0.85em;
    background: rgba(112, 155, 183, 0.21);
  }
}

main {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-bottom: -66px;
}

main:after {
  content: "";
  display: block;
}

.footer, main:after {
  height: 66px;
}

.footer {
  position: relative;
  z-index: 10000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.5em;
}

.footer h1 {
  width: 100%;
  color: #d6d6d6;
}

.footer__title {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #d6d6d6;
}

@media screen and (max-width: 43.25em) {
  main {
    margin-bottom: -56px;
  }

  .footer {
    font-size: 0.85em;
    background: rgba(112, 155, 183, 0.21);
  }

  .footer, main:after {
    height: 56px;
  }

  .hide-mobile {
    display: none;
  }
}
